.tooltip {
	font-size: rem(14);
	cursor: help;
	position: relative;
	&.product-tile {
		cursor: pointer;
	}
}

.tooltip-content {
	display: none;
}

.ui-tooltip.ui-widget-content {
	background: $color-black;
	border-radius: rem(3);
	box-shadow: rem(2) rem(3) rem(3) 0 $color-gray-50;
	color: $color-white;
}

.ui-tooltip-content {
	padding: 0.3em;
	.recommendation-tooltip-header {
		font-size: 1.2em;
		font-weight: bold;
		padding: 0.5em;
		.product-price {
			font-weight: 400;
			.price-standard {
				color: $color-gray-50;
				text-decoration: line-through;
			}
		}
	}
	.recommendation-tooltip-description,
	.recommendation-tooltip-attributes {
		padding: 0.8em;
	}
	.shipping-method-cost,
	.surcharge-product,
	.promo {
		text-align: right;
		padding-bottom: .3rem;
	}
	.shippingtotal {
		clear: right;
		text-align: right;
		margin-top: .3rem;
		.value {
			border-top: rem(1) solid $color-black;
			padding-top: .3rem;
		}
	}
}
