.dw-apple-pay-button,
.dw-apple-pay-button:hover {
	margin: 0;
}

.section-header-item-heading {
	font-size: rem(14);
	padding-bottom: 0.625rem;
	font-family: $sans-serif-light;
	text-transform: uppercase;
	color: $color-gray-50;
}

#cart-table {
	margin-top: 2rem;

	thead {
		display: none;
		@include breakpoint(lgTabletUp) {
			display: table-header-group;
		}
	}
	td {
		box-sizing: border-box;
		display: block;
		padding: rem(5);
		@include breakpoint(lgTabletUp) {
			display: table-cell;
		}
	}
	.cart-row {
		display: flex;
		flex-wrap: wrap;
		@include breakpoint(tabletUp) {
			flex-wrap: nowrap;
		}

		@include breakpoint(lgTabletUp) {
			display: table-row;
		}
	}
	.header-total-price {
		text-align: right;
	}
	.item-image {
		float: left; // LEGACY: to support IE (no flexbox)
		order: 1;
		text-align: center;
		flex-basis: 40%;
		
		@include breakpoint(lgTabletUp) {
			float: none;
			width: 7rem;
			max-width: 7rem;
		}
		img {
			border: solid $color-black;
			border-width: rem(1);
		}
	}
	.item-details {
		float: left; // LEGACY: to support IE (no flexbox)
		order: 2;
		flex-basis: 60%;
		margin-top: 1rem;
		@include breakpoint(tabletUp) {
			float: none;
			margin-top: 0;
		}
		.name {
			font-size: 1rem;
			margin-bottom: 0.3125rem;
			font-weight: 800;
			font-style: normal;

			& > a {
				color: $color-black;
			}

		}
		// Removes Edit Details Quickview link for handheld devices
		.item-edit-details {
			display: none;
		}
	}
	.item-delivery-options {
		order: 6;
		text-align: center;
		flex-basis: 50%;
		@include breakpoint(lgTabletUp) {
			text-align: left;
			width: 8rem;
		}
		.form-row {
			margin-top: 0;
		}
	}
	.item-quantity {
		float: left; // LEGACY: to support IE (no flexbox)
		order: 4;
		text-align: center;
		flex-basis: 33.3333%;
		@include breakpoint(lgTabletUp) {
			float: none;
			text-align: left;
		}
		input {
			width: 4rem;
		}
	}
	.item-quantity-details {
		float: left; // LEGACY: to support IE (no flexbox)
		order: 3;
		text-align: center;
		flex-basis: 33.3333%;
		position: relative;
		top: -0.5rem;
		@include breakpoint(tabletUp) {
			top: auto;
		}
		@include breakpoint(lgTabletUp) {
			float: none;
			text-align: left;
		}
		.product-availability-list {
			margin: 0;
			padding: 0;
			font-size: 0.8rem;
			max-width: 13.5rem;
			.on-order, .not-available {
				color: $color-red-80;
				font-size: 0.9em;
			}
		}
		.item-user-actions {

			@include breakpoint(lgTabletUp) {
				margin-top: -0.5rem;
			}
			a,
			button {
				display: block;
				font-size: 1em;
				width: 100%;
				margin: .3rem 0;
				@include breakpoint(lgTabletUp) {
					width: auto;
				}
			}
			.button-text {
				color: $color-black;
				font-size: 0.6875rem;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	.item-price {
		order: 5;
		text-align: center;
		flex-basis: 33.3333%;
		position: relative;
		@include breakpoint(lgTabletUp) {
			text-align: left;
		}
	}
	.price-promotion {
		.price-sales {
			color: $color-black;
		}
		.price-standard {
			margin: 0 1em 0 0;
			text-decoration: line-through;
		}
	}
	.item-total {
		display: none;
		@include breakpoint(lgTabletUp) {
			display: block;
			float: none;
			font-size: 1em;
			flex-grow: 2; // take over item-delivery-options that it is not there
			font-size: 1rem;
			font-weight: 700;
			order: 7;
			text-align: right;
			flex-basis: 50%;
			word-wrap: break-word;
		}
	}
	.price-unadjusted {
		color: $color-gray-50;
		display: block;
		margin: 0;
		span {
			text-decoration: line-through;
		}
	}
	.price-adjusted-total {
		color: $color-gray-45;
		display: block;
		margin: 0;
		span {
			color: $color-black;
		}
	}
	.gift-cert-delivery {
		color: $color-black;
	}
}

.tasty-cart-items-form {
	@include breakpoint(tabletUp) {
		background: $color-white;
		border-radius: 0.4375rem;
		padding: 0 1.25rem 4rem;
		box-shadow: 0 0 1rem 0 rgba(0,0,0,0.1);
		position: relative;
		top: 2rem;
	}
}

.cart-promo {
	background: url("../images/interface/ui-promo-bg-gray-diag.png") repeat scroll 0 0 transparent;
	color: $color-black;
	font-style: italic;
	margin: 0.3em 0;
	padding: 1em;
	.bonus-item-actions {
		font-size: 1em !important;
		text-align: right;
		vertical-align: middle;
	}
}

.cart-footer {
	@extend %clearfix;
	margin: .83em 0;
}

.cart-coupon-code {
	@include breakpoint(lgTabletUp) {
		float: left;
		width: 100%;
	}
	label {
		display: block;
	}
	input {
		width: 45%;
		float: left;
		margin: 0 0 1rem;
		@include breakpoint(tabletUp) {
			width: 34%;
		}
		@include breakpoint(lgTabletUp) {
			width: 45%;
		}
		+ .button {
			float: left;
			margin-left: 5%;
		}
	}
	#update-cart {
		float: right;
	}

	.button-transparent {
		float: none;
		background-color: transparent;
		color: $color-black;
		border-color: $color-black;
		&:hover {
			color: $color-gray-50;
			border-color: $color-gray-50;
		}
	}

	.button-secondary {
		margin: 1.8rem 0 1rem;
	}

	.button-transparent_secondary {
		width: auto;
	}

	.error {
		padding-top: 0.4em;
	}
}

.cart-order-totals {
	margin: 1rem 0;
	@include breakpoint(lgTabletUp) {
		float: right;
		margin-top: 0;
		width: 40%;
	}
}

.order-totals-table {
	td {
		padding: 0.125rem;
		text-align: right;

	}
	.order-totals-item {
		width: 60%;
	}

	.order-totals-value {
		width: 40%;
	}

	.order-subtotal {
		font-weight: 700;
	}
	.order-total {
		font-size: 1rem;
		font-weight: 700;
	}
}
.order-value {
	white-space: nowrap;
}

.cart-actions {
	@extend %clearfix;
	.dw-apple-pay-button {
		font-size: 1.35em;
		padding: .5em 2em;
	}
	&> fieldset {
		@include breakpoint(tabletUp) {
			float: right;
		}
	}

	.button-secondary {
		position: relative;
		top: 2.65rem;
		@include breakpoint(tabletUp) {
			margin-left: 1rem;
		}
	}

	.button-transparent {
		position: relative;
		top: -3rem;
	}

	.button{
		width: 100%;
		@include breakpoint(tabletUp) {
			width: auto;
			top: auto;
		}
	}

	@include breakpoint(tabletUp) {
		position: relative;
		top: -2.75rem;
		padding: 0 1.25rem;
	}
}

.cart-action-checkout {
	@include breakpoint(tabletUp) {
		float: right;
	}
}

.cart-action-continue-shopping {
	@include breakpoint(lgTabletUp) {
		float: right;
	}
	.button-text {
		margin-top: .2rem;
		margin-right: 1rem;
		@include breakpoint(lgTabletUp) {
			margin-top: .6rem;
		}
	}
}

.cart-actions-top {
	margin-top: .5rem;
	margin-bottom: 1rem;
	.cart-action-continue-shopping {
		float: none;
	}
}

.cart-empty {
	@extend %clearfix;
	padding-top: 4rem;
	h1 {
		text-align: center;
	}
	.cart-action-continue-shopping {
		float: none;
		text-align: center;
		margin-bottom: 4rem;
	}
	.product-listing {
		@extend %clearfix;
		background-color: $color-gray-10;
		padding: 1rem 0;
		h2 {
			margin-left: 1.3rem;
		}
		.search-result-items {
			margin-top: 1em;
		}
	}
}

.promo-adjustment {
	display: inline-block;
	font-size: 0.625rem;
	color: $color-black;
	text-transform: uppercase;
	background: $color-yellow-10;
	overflow: hidden;
	margin: 0.5rem 0 0;
	padding: 0.0625rem 0.5rem;
	border-radius: 0.1875rem;
}

.account-welcome {
	.welcome-message {
		font-size: 1.2em;
		font-style: italic;
	}
	.not-user {
		margin: .83em 0;
	}
}

#password-reset{
	white-space: nowrap;
}
