.pt_cart,
.pt_checkout {
    #main {
        background: $color-gray-15;
        padding: 1rem;
        @include breakpoint(lgTabletUp) {
            padding: 0 1.875rem;
        }
    }
}

.pt_checkout {
    .form-indent {
        margin-left: 0;
    }
}

.pt_cart .primary-content {
    max-width: 68.75rem;
    margin: 0 auto;
    float: none;
}

.price-standard {
    text-decoration: line-through;
    font-weight: normal;
}

.checkout-progress-indicator {
    overflow: hidden;
    font-size: 0.75rem;
    margin: 0 0 1rem;
    div {
        display: inline;
        padding: 0 0.3125em 0 0;
    }
    .active {
        font-family: $sans-serif-bold;
        color: $color-black;
    }
    .fa {
        font-size: 1rem;
        padding-left: 0.3125em;
        color: $color-gray-50;
    }
    .step-3 {
        padding-right: 0;
    }
    .step-label {
        text-transform: uppercase;
        display: none;
    }
}

.gift-message-text {
    overflow: visible;
    opacity: 1;
    transition: all 1s ease;
    &.hidden {
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
    textarea {
        width: 100%;
    }
}

.billing-coupon-code {
    .form-row,
    .coupon-apply,
    .giftcert-apply {
        display: inline-block;
    }
    .form-row {
        margin: 0;
    }
    .tooltip {
        padding-left: 1rem;
    }
}

.email-disclaimer {
    font-size: 0.75rem;
    color: $color-black;
}

.redemption {
    .success {
        color: $color-green-50;
    }
    color: $color-red-80;
    span.error {
        margin-left: 0;
    }
}

.payment-method-options {
    .form-row {
        clear: none;
        float: left;
        width: 30%;
    }
}

.payment-method {
    clear: both;
    display: none;
}

.payment-method-expanded {
    display: block;
}

.month,
.year,
.day {
    clear: none;
    float: left;
    margin: 0 2% 2% 0;
    label {
        @extend .visually-hidden;
    }
    select {
        width: auto;
        min-width: 8rem;
    }
    .field-wrapper {
        width: 100%;
    }
}

.month .form-caption {
    margin-left: 0;
}

.cvn {
    clear: left;
    .field-wrapper {
        width: 3.125rem;
    }
    .error {
        white-space: nowrap;
    }
    .form-field-tooltip {
        float: none;
    }
}

.ssn {
    clear: left;
}

.bml-terms-and-conditions {
    border: rem(1) solid $color-gray-30;
    font-size: 0.8em;
    height: 25rem;
    overflow: auto;
    padding: 1em;
}

.bml-table-col-1 {
    width: 25%;
}

.pt_checkout .summary .section-header {
    font-family: $sans-serif-medium;
    font-size: 1rem;
    padding: 0;
    @include breakpoint(lgTabletUp) {
        padding: 1em 0 0;
    }
}

.checkout-mini-cart {
    max-height: 20.625rem;
    overflow: auto;
}

.checkout-order-totals {
    font-size: 0.75rem;
    margin: 0.625rem 0;
    padding: 0.3125rem 0.5rem;
    border: solid $color-gray-20;
    border-width: rem(1) 0;
    @include breakpoint(lgTabletUp) {
        font-size: 0.875rem;
    }
    .order-total {
        font-size: 0.875rem;
    }
    .edit-link {
        font-size: 0.75rem;
        padding: 0 0.25rem 0 0;
    }
}

.place-order-totals {
    clear: both;
    .order-totals-table {
        float: right;
        width: 50%;
    }
}

.order-component-block {
    margin: 1em 0;
    .section-header a {
        float: right;
        font-weight: normal;
        font-family: $sans-serif;
    }
    .details {
        font-size: 0.75rem;
        padding: 0.5em;
        @include breakpoint(lgTabletUp) {
            font-size: 0.875rem;
        }
    }
}

.order-summary-footer {
    position: relative;
    h2 {
        font-size: 2em;
        font-style: italic;
        font-weight: normal;
    }
}

.summary-help {
    float: right;
    font-size: 0.8em;
    margin: 1em 0;
}

.submit-order {
    clear: both;
    display: block;
    padding: 1em 0 0;
    text-align: right;
    .back-to-cart {
        font-size: 1em;
        &:hover {
            text-decoration: underline;
        }
    }
    button {
        margin-left: 1.5em;
    }
}

.order-discount {
    color: $color-red-50;
}

.summary .edit {
    position: absolute;
    text-transform: uppercase;
    right: 0.625rem;
    font-size: 0.75em;
    line-height: 1.6em;
}

.item-shipping-address {
    min-width: 7.5rem;
}

.billing-error {
    color: $color-red-50;
    margin: 0 0 0.75em 24%;
}

.cvn-tooltip {
    font-weight: 700;
    margin: 0.3125rem;
    text-align: center;

    img {
        height: 9.375rem;
        width: 6.875rem;
    }
}

#shipping-method-list {
    position: relative;

    .standard-shipping {
        &.has-discount {
            text-decoration: line-through;
            +{
                .discount-shipping {
                    font-weight: 600;
                }
            }
        }
    }
    .tooltip-content {
        color: $color-white;
    }
}
